* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{

}

body {
   width: 100%;
   min-height: 100;
   background-color: rgb(40, 43, 95);
}


.Second{
   font-family: "Instrument Serif", serif;
   font-size: 50px;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   opacity: 1;
   color: white;
   animation-name:reveal;
   animation-duration: 2s;
   animation-fill-mode: both
}

.lyric2{

}

#Feels, #Good, #To, #Be, #Known, #Sowell{
   opacity: 0;
 transition: opacity 1s ease;  
}



#You{
   font-family: "Reenie Beanie", cursive;
   font-size: 80px;
   text-decoration: none;
   color: rgb(31, 128, 246);
}

#Myself{
   animation-name:away;
   animation-duration: 1s;
   animation-fill-mode: both;
   animation-delay: 3s;
}
#You:hover{
   font-size: 110px;
}
#Hide:hover, #Hide2:hover{
   opacity: 0;
}

@keyframes away{
   from {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}
@keyframes reveal{
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}


#You:hover{
   opacity: 1;
   transition-duration: 1s;
}

div{
   text-align: center; 
}