* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{

}

body {
   width: 100%;
   min-height: 100;
   background-color: beige;
}


.First{
   font-family: "Dela Gothic One", sans-serif;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
}


/* .lyric1{
   transition: opacity 1s;
}


#Feels, #Good, #To, #Be, #Known, #Sowell{
   opacity: 0;
 transition: opacity 1s ease;  
}

#It:hover + #Feels,
#Feels:hover + #Good,
#Good:hover + #To,
#To:hover + #Be, 
#Be:hover + #Known,
#Known:hover + #Sowell{
   opacity: 1;
} */

#Feels, #Good, #To, #Be, #Known, #Sowell{
   opacity: 0;
}

#It:Hover + #Feels{
animation-name:reveal;
animation-duration: 1s;
opacity: 1;
}

#Feels:hover + #Good{

}
#Good:hover + #To{

}
#To:hover + #Be{

}
#Be:hover + #Known{

}
#Known:hover + #SoWell{

}

/* #Good{
   animation-name:reveal;
   animation-duration: 1s;
}
#To{
   animation-name:reveal;
   animation-duration: 1s;
}
#Be{
   animation-name:reveal;
   animation-duration: 1s;
}
#Known{
   animation-name:reveal;
   animation-duration: 1s;
}
#Sowell{
   animation-name:reveal;
   animation-duration: 1s;
} */

@keyframes reveal{
   from {opacity: 0;}
   to {opacity: 1;}
}

#Known{
   font-family: "Reenie Beanie", cursive;
   font-size: 30px;
   text-decoration: none;
   color: rgb(183, 206, 235);
}


/* #I, #Cant, #Hide, #From, #Like, #I2, #Hide2, #From, #Myself{
   opacity: 0;
   transition-duration: .5s;
} */

div{
   text-align: center; 
}