* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{

}

body {
   width: 100%;
   min-height: 100;
   background-color: beige;
}


.First{
   font-family: "Dela Gothic One", sans-serif;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
}

.Second{
   font-family: "Instrument Serif", serif;
   font-size: 30px;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   opacity: 1;
}

.Third{
   font-family: "Lexend", sans-serif;
   font-size: 30px;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
}


.Fourth, .Fifth{
   font-family: "Reenie Beanie", cursive;
   font-size: 40px;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
}

.Sixth{
   font-family: "Bayon", sans-serif;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   font-size: 200px;
   color: blue;
}

.lyric1{
   transition: opacity 1s;
}

.lyric2{
   
}

#Feels, #Good, #To, #Be, #Known, #Sowell{
   opacity: 0;
 transition: opacity 1s ease;  
}

#It:hover + #Feels,
#Feels:hover + #Good,
#Good:hover + #To,
#To:hover + #Be, 
#Be:hover + #Known,
#Known:hover + #Sowell{
   opacity: 1;
}


#Known{
   font-family: "Reenie Beanie", cursive;
   font-size: 30px;
   text-decoration: none;
   color: rgb(183, 206, 235);
}

#You{
   font-family: "Reenie Beanie", cursive;
   font-size: 40px;
   text-decoration: none;
   color: rgb(183, 206, 235);
}

#I4{
   font-family: "Reenie Beanie", cursive;
   font-size: 40px;
   text-decoration: none;
   color: rgb(183, 206, 235);
}

#Tough{
   font-family: "Dela Gothic One", sans-serif;
   font-size: 30px;
   text-decoration: none;
   color: rgb(183, 206, 235);
}
#Tried{
   font-family: "Instrument Serif", serif;
   font-size: 30px;
   text-decoration: none;
   color: rgb(183, 206, 235);
}

.lyric2{
}

#You:hover{
   opacity: 1;
   transition-duration: .5s;
}

/* #I, #Cant, #Hide, #From, #Like, #I2, #Hide2, #From, #Myself{
   opacity: 0;
   transition-duration: .5s;
} */

div{
   text-align: center; 
}