* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{

}

body {
   width: 100%;
   min-height: 100;
   background-color: beige;
}



.Fourth, .Fifth{
   font-family: "Reenie Beanie", cursive;
   font-size: 40px;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
}

#Tried{
   font-family: "Instrument Serif", serif;
   font-size: 30px;
   text-decoration: none;
   color: rgb(183, 206, 235);
}



div{
   text-align: center; 
}